h1 {
    color: magenta;
    /*Note the color choice for the shadow.*/
    text-shadow: 1px 1px 1px yellow;
    font-family: Papyrus;
    font-size: 30px;
    /* Papyrus is so tall that it overflows its box, so it's necessary to do this. */
    margin-top: 11px;
    /* Otherwise the bottom of papyrus letters touches the text input. */
    margin-bottom: 3px;
}

form {
    display: flex;
    justify-content: space-between;
}

input.textField {
    font-family: Georgia;
    font-style: italic;
    opacity: 0.7;
    color: orangered;
    background-color: lightcyan;
}

/*This makes the box as a whole taller, which causes the input of type text to be taller too.*/
button[type=submit] {
    min-width: 33px;
    min-height: 31px;
}

button[type=submit]:hover {
    background-color: salmon;
}
