section.AddBar {
    height: auto;
}

section.AddBar h1 {
    color: magenta;
    font-family: Papyrus;
    font-size: 30px;
    /*Note the color choice for the shadow.*/
    text-shadow: 1px 1px 1px yellow;
    /* Papyrus is so tall that it overflows its box, so it's necessary to do this. */
    margin-top: 11px;
    /* Otherwise the bottom of papyrus letters touches the text input. */
    margin-bottom: 7px;
}

section.AddBar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.AddBar form textarea {
    font-family: Georgia;
    font-size: 18px;
    font-style: italic;
    opacity: 0.7;
    width: 89.5%;
    color: orangered;
    background-color: lightcyan;
    border: 2px solid rgb(17, 161, 218);
    border-radius: 10%;
    transition: background-color 1s, color 1s;
    /*When you click it, the blue border won't appear anymore.*/
    outline: none; 
    /* This makes the resize corner disappear. */
    resize: none;
    /* This sets an initial height to the textarea. */
    height: 33px;
}

section.AddBar form textarea:hover {
    background-color: gray;
    color: yellow;
}

section.AddBar form button:hover {
    background-color: salmon;
}
